html {
	font-size: 16px;
}

body {
	font-size: 16px;
}

p {
	font-family: 'Quattrocento', Georgia, 'Times New Roman' serif;
	font-weight: 400;
	line-height: 1.4em;
}

h1 {
	font-weight: 700;
	font-size: 3.052em;
	word-spacing: 0.5em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 2.441em;
	word-spacing: 0.2em;
	margin: 0;
	text-align: left;
	padding-top: 15px;
}

address {
	font-family: 'Quattrocento', Georgia, 'Times New Roman' serif;
	text-align: center;
}

a {
	font-weight: bold;
	font-size: 1.25em;
	color: #4f3674;
	text-decoration: none;
}

a:visited {
	background-color: rgb(255, 0, 0);
	text-decoration: wavy;
}

a:hover {
	background-color: #d6a800;
	text-decoration: underline;
}

.sentence {
	font-style: italic;
}

.intro {
	text-indent: .2em;
}
