body, div {
    background-color: rgba(253, 226, 208, 20);
}

#image-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10%;
}

.image {
    border: 3px solid rgb(185, 63, 8);
    border-radius: 15px;
    padding: 5px;
}

h1, h3 {
    text-align: center;
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-size: 400;
    color: rgb(185, 63, 8)
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    color: rgb(185, 63, 8)
}

img {
    width: 400px;
    height: 350px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}