.form {
	display: inline-grid;
	grid-template-columns: auto;
}

.form-field {
	padding: 20px;
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4F3674;
    color: #fff;
}

.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.full-width {
    width: 100%;
}

body {
	margin: 0;
	font-family: Oswald, Verdana, Arial, sans-serif;
}

header {
	background-color: #3c275a;
	color: white;
	padding: 20px;
	text-align: center;
}

h1 {
	font-weight: 400;
    text-align: center;
}

nav {
	overflow: hidden;
	background-color: #4f3674;
	border-bottom: solid 15px #d6a800;
}

nav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #d6a800;
	color: #4f3674;
}

#container {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
    bottom: 100px;
	padding: 10px;
}

.grid-3-col {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    min-height: 250px;
}

.card-form {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

footer {
	background-color: #4f3674;
    position: static;
	display: block;
	bottom: 0px;
	width: 100%;
	bottom: 0px;
	height: 5vh;
	margin-top: 15vh;
}

footer p {
	color: white;
	font-weight: 400;
	float: right;
	padding-right: 10px;
	font-style: italic;
	font-size: 0.75em;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover {
	text-decoration: underline;
}
